<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
			<link rel="icon" href="favicon.ico" type="image/x-icon">
		</head>
		<body>
			<nav>
				
	    		<ul>
				<img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/44/SNHS_log.png/220px-SNHS_log.png" alt=SNHS logo width=8% height=8%>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="http://discord.snhs.club">Discord</a></li>
	        		<li><a href="http://apply.snhs.club">Apply</a></li>
	        		<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:contact@snhs.club">email</a></li>
	        		<li><a href="https://github.com/nguyenadam/snhs.github.io">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
